@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

#all {
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0);*/
    background-image: url("../img/选区_001.png");
    background-repeat: no-repeat;
	background-size: 100% 100%;
    position: absolute; /*设置个absolute全屏了*/
}

a:link { /*正常连接样式*/
    color: #8FBC8F;
    text-decoration: underline;
    text-decoration: none;
}

a:visited { /*定义已访问过的连接样式*/
    color: #00FF00;
    text-decoration: none;
}

a:hover { /*定义鼠标悬浮在连接上的样式*/
    color: #000000;
    text-decoration: none;
}

a:active { /*定义鼠标点击连接时的样式*/
    color: #FFFFFF;
    text-decoration: none;
}

#top {
    height: 80px;
    /*background-color: #3C763D;*/
    text-align: center;
}

/* main */
#main {
    margin: 40px auto;
    width: 1000px;
    height: 600px;
    background-color: rgba(255,255,255,0.1);
}

#main > .left {
    width: 200px;
    height: 550px;
    background-color: rgba(255,255,255,0.1);
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

#main > .left p {
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    width: 160px;
    margin: 20px auto;
}

#main > .right {
    width: 730px;
    height: 550px;
    background-color: rgba(255,255,255,0.1);
    float: right;
    top: 25px;
    margin-top: 25px;
    margin-right: 25px;
}

#main > .right .content {
    width: 680px;
    height: 500px;
    background-color: rgba(255,255,255,0.1);
    margin: 25px auto;
    position: relative;
}

#userSkill,#userMsg{
/*#userInfo, #userSkill {*/
    display: none;
}

/*个人信息 ----------------------------*/

#userInfo .uName, .uEmail, .uAge, .uWorkYears, .uEducation, .uCity, .btn {
    float: left;
    margin-top: 35px;
    margin-left: 90px;
    width: 500px;
    height: 25px;
    background-color: rgba(0,0,0,0.1)
}

#userInfo .left {
    width: 200px;
    text-align: right;
    float: left;
    top: 10px;
    left: 100px;
}

#userInfo .right {
    width: 280px;
    line-height: 25px;
    float: right;
    top: 10px;
    right: 100px;
}

#userInfo .btn {
    text-align: center;
}

#userInfo .btnLeft, .btnRight {
    margin: 0 10px;
}

/*我的技能 ----------------------------*/
#userSkill .blank {
    height: 20px;
}

#userSkill .skills {
    max-height: 400px;
    overflow: auto;
}

#userSkill .btn {
    text-align: center;
}

#userSkill .btnLeft, .btnRight {
    margin: 0 10px;
}

#userSkill span {
    width: 96px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: lightgray;
    display: block;
    float: left;
    margin: 20px 35px;
}

/*站内信 ------------------------------*/
#userMsg .msgs {
    width: 620px;
    height: 420px;
    background-color: rgba(0,0,0,0.1);
    float: left;
    margin-top: 15px;
    margin-left: 30px;
    overflow: auto;
}

#userMsg .msg{
    margin: 20px 25px;
    height: 30px;
}

#userMsg .msg .status{
    width: 15px;
    height: 15px;
    background-color: gray;
    float: left;
    border-radius: 15px;
    line-height: 30px;
    margin: 8px 5px;
}

#userMsg .msg .content{
    width: 480px;
    height: 30px;
    margin: 0 auto;
    background: orange;
    /*float: right;*/
    float: left;
    left: 20px;
    padding: 0 20px;
    display: block;
}

#userMsg p{
    line-height: 30px;
    padding: 2px 0;
}

#userMsg p:first-child{
    float: left;
}

#userMsg .time{
    float: right;
    font-size: 14px;
    color: gray;
}

#userMsg p:last-child{
    display: none;
    margin: 5px 0;
    height: 75px;
    background-color: lightgray;
    padding: 1px 10px;
    overflow: auto;
    clear: both;
}

#userMsg .btn {
    text-align: center;
    margin-top: 15px;
}

#userMsg .btnLeft, .btnRight {
    margin: 0 10px;
}
